Source: smartmeter-datacollector-configurator
Maintainer: Supercomputing Systems AG <info@scs.ch>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 10), dh-systemd (>= 1.5)
Standards-Version: 3.9.1
Homepage: https://github.com/scs/smartmeter-datacollector-configurator

Package: python3-smartmeter-datacollector-configurator
Architecture: all
Pre-Depends: python3-pip
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: python3-smartmeter-datacollector
Description: Smart Meter Data Collector
 # Smart Meter Data Collector Configurator
 .
 <p align="center">
     <a href="LICENSE"><img alt="License: BSD-3-Clause" src="https://img.shields.io/badge/license-3--clause%20BSD-green"></a> <a href="https://github.com/scs/smartmeter-datacollector-configurator/pulls"><img alt="Pull Requests Welcome" src="https://img.shields.io/badge/PRs-welcome-brightgreen.svg"></a> <a href="https://github.com/scs/smartmeter-datacollector-configurator/pulls"><img alt="Contributions Welcome" src="https://img.shields.io/badge/contributions-welcome-brightgreen.svg"></a>
     <br />
     <img alt="Backend Python Code Checks" src="https://github.com/scs/smartmeter-datacollector-configurator/actions/workflows/backend-code-checks.yml/badge.svg?branch=master"> <img alt="Frontend Code Checks" src="https://github.com/scs/smartmeter-datacollector-configurator/actions/workflows/frontend-code-checks.yml/badge.svg?branch=master"> <a href="https://pypi.org/project/smartmeter-datacollector-configurator/"><img alt="PyPI - Python Version" src="https://img.shields.io/pypi/pyversions/smartmeter-datacollector"></a>
 </p>
 .

