Source: smartmeter-datacollector-configurator
Maintainer: Supercomputing Systems AG <info@scs.ch>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 10), dh-python
Standards-Version: 3.9.1
Homepage: https://github.com/scs/smartmeter-datacollector-configurator

Package: python3-smartmeter-datacollector-configurator
Architecture: all
Pre-Depends: python3-pip
Depends: ${misc:Depends}, python3:any
Recommends: python3-smartmeter-datacollector
Description: Smart Meter Data Collector Configurator
 .
 The smartmeter-datacollector-configurator is a web application to simplify the process of generating a valid initial configuration for smartmeter-datacollector.
 .
 It supports
 * a graphical approach to manage the configuration
 * input validation to avoid invalid configurations
 * loading / saving / discarding a configuration
 * restarting smartmeter-datacollector (only if installed as a Debian package)
 * restarting the demo applications which comes with the custom Raspberry Pi Image

