[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "~=0.16.0"
uvicorn = "~=0.15.0"
pydantic = "~=1.8.2"

[dev-packages]
autopep8 = "*"
pylint = "*"
isort = "*"
pipenv-setup = "*"
chardet = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.8"

[scripts]
format_check = "autopep8 --diff -r --aggressive smartmeter_datacollector_configurator/"
format = "autopep8 --in-place  -r --aggressive smartmeter_datacollector_configurator/"
isort = "isort ."
isort_check = "isort --check ."
lint = "pylint smartmeter_datacollector_configurator/"
lint_check = "pylint smartmeter_datacollector_configurator/ --exit-zero"
setup = "pipenv-setup sync"
setup_check = "pipenv-setup check"
