[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "~=0.16"
uvicorn = "~=0.14"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
format_check = "autopep8 --diff -r --aggressive smartmeter_datacollector_configurator/"
format = "autopep8 --in-place  -r --aggressive smartmeter_datacollector_configurator/"
lint = "pylint smartmeter_datacollector_configurator/"
