[Unit]
Description=Smart Meter Datac Cllector Configurator Service

[Service]
Type=simple
Restart=on-failure
ExecStartPre=mkdir -p /var/lib/smartmeter-datacollector
ExecStart=smartmeter-datacollector-configurator --host 0.0.0.0 --port 8000 -c /var/lib/smartmeter-datacollector/datacollector.ini -s /var/lib/smartmeter-datacollector/static 

[Install]
WantedBy=multi-user.target
